{% load static %}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/image/apple-icon.png' %}">
<link rel="icon" type="image/png" href="{% static 'assets/image/favicon.png' %}">
<meta name="description" content="Numan Ibn Mazid's Portfolio Dashboard">
<!-- Twitter meta-->
<!-- <meta property="twitter:card" content="summary_large_image"> -->
<!-- <meta property="twitter:site" content="@pratikborsadiya"> -->
<!-- <meta property="twitter:creator" content="@pratikborsadiya"> -->
<!-- Open Graph Meta-->
<!-- <meta property="og:type" content="website"> -->
<!-- <meta property="og:site_name" content="Vali Admin"> -->
<!-- <meta property="og:title" content="Vali - Free Bootstrap 4 admin theme"> -->
<!-- <meta property="og:url" content="http://pratikborsadiya.in/blog/vali-admin"> -->
<!-- <meta property="og:image" content="http://pratikborsadiya.in/blog/vali-admin/hero-social.png"> -->
<!-- <meta property="og:description" content="Vali is a responsive and free admin theme built with Bootstrap 4, SASS and PUG.js. It's fully customizable and modular."> -->