{% load static %}

<link rel="stylesheet" href="{% static 'assets/base/css/custom.css' %}">
<link rel="stylesheet" href="{% static 'assets/base/css/animation.css' %}">
<!-- Main CSS-->
<link rel="stylesheet" type="text/css" href="{% static 'assets/dashboard/css/main.css' %}">
<!-- Font-icon css-->
<link rel="stylesheet" type="text/css" href="{% static 'assets/dashboard/fonts/font-awesome.min.css' %}">