{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include "pages/portion/about.html" %}

<hr class="m-0">

{% include "pages/portion/preferred-area.html" %}

<hr class="m-0">

{% include "pages/portion/experiences.html" %}

<hr class="m-0">

{% include "pages/portion/education.html" %}

<hr class="m-0">

{% include "pages/portion/skills.html" %}

<hr class="m-0">

{% include "pages/portion/projects.html" %}

{% endblock %}

