{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'dashboard/components/meta-icon.html' %}
    <title>{% block head_title %}Dashboard{% endblock %} | Numan Ibn Mazid</title>
    {% include 'dashboard/components/styles.html' %}
    {% block extra_css %}{% endblock %}
  </head>
  <body class="app sidebar-mini rtl">
    
    {% include 'dashboard/components/navbar.html' %}

    {% include 'dashboard/components/sidebar.html' %}

    <main class="app-content">

      {% include 'dashboard/components/sidebar.html' %}

      <div class="app-title">
        <div>
          <h1>
            <i class="fa fa-file-text"></i>
            {% block page_title %}Dashboard{% endblock %}
          </h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard' %}">
              <i class="fa fa-home fa-lg"></i>
            </a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">
              {% block breadcrumb %}Dashboard{% endblock %}
            </a>
          </li>
        </ul>
      </div>

      {% include 'components/messages.html' %}

      {% block content %}{% endblock %}

    </main>
    
    {% include 'dashboard/components/scripts.html' %}
    {% block extra_js %}{% endblock %}
  </body>
</html>