{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    {% include 'components/meta-icon.html' %}
    <title>
        {% block head_title %}Numan Ibn Mazid{% endblock %} | Numan Ibn Mazid - Portfolio
    </title>
    {% include 'components/styles.html' %}
    {% include 'components/head-scripts.html' %}
    {% block extra_css %}{% endblock %}
</head>

<body id="page-top">

    {% include 'components/navbar.html' %}

    <div class="container-fluid p-0">

        {% block content %}{% endblock %}

    </div>

    {% include 'components/footer.html' %}

    {% block extra_js %}{% endblock %}
</body>

</html>