{% load static %}
<!-- Jquery -->
<script src="{% static 'assets/vendor/jquery/jquery-3.4.1.min.js' %}"></script>
<!-- Popper Js -->
<script src="{% static 'assets/vendor/popper/popper.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

