{% load static %}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/image/apple-icon.png' %}">
<link rel="icon" type="image/png" href="{% static 'assets/image/favicon.png' %}">