{% load static %}

<!-- Plugin JavaScript -->
<script src="{% static 'assets/base/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'assets/base/js/resume.min.js' %}"></script>

<!-- custom js -->
<script src="{% static 'assets/custom/js/custom.js' %}"></script>
<script src="{% static 'assets/custom/js/animation.js' %}"></script>
