{% load static %}

<!-- bootstrap css -->
<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/customized/cerulean/bootstrap.min.css' %}">


<!-- Custom fonts for this template -->
<!-- <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet"> -->
<link href="{% static 'assets/base/fonts/saira.css' %}" rel="stylesheet">
<!-- <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet"> -->
<link href="{% static 'assets/base/fonts/muli.css' %}" rel="stylesheet">


<!-- Custom styles for this template -->
<link href="{% static 'assets/base/css/resume.min.css' %}" rel="stylesheet">

<!-- Fontawesome -->
<link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

<!-- custom css -->
<link rel="stylesheet" href="{% static 'assets/custom/css/custom.css' %}">
<link rel="stylesheet" href="{% static 'assets/custom/css/animation.css' %}">