{% load static %}

<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
    <div class="w-100">
        {% for personal_information in personal_informations %}
        {% if forloop.first %}

        <span class="d-block d-lg-none">
            <img src="{{ personal_information.image.url }}" alt="{{ personal_information.full_name }}"
                class="img-fluid img-profile rounded-circle mx-auto mb-2">
        </span>

        <h2 class="mb-0">
            {{ personal_information.full_name }}
            <span class="text-primary">
                ({{ personal_information.nick_name }})
            </span>
        </h2>

        {% for work_area in work_areas %}
        {% if forloop.first %}
        <h3 class="text-muted">
            - {{ work_area.designation }} -
        </h3>
        {% endif %}
        {% endfor %}

        {% endif %}
        {% endfor %}


        <div class="subheading mb-5">
            {% for address in addresses %}
            {% if address.address_type == "Present" %}
            {{ address.address }}, {{ address.district }} · <br>
            {% endif %}
            {% endfor %}

            {% for contact in contacts %}
            {% if forloop.first %}
            <a href="#">{{ contact.contact }}</a> · <br>
            <a href="mailto:{{ contact.email }}" class="text-transform-none">
                {{ contact.email }}
            </a> ·
            {% endif %}
            {% endfor %}

        </div>
        
        <p class="lead mb-5">
            {% for work_area in work_areas %}
            {% if forloop.first %}
            {{ work_area.career_objective }}
            {% endif %}
            {% endfor %}
        </p>


        <ul class="list-inline dev-icons">
            {% for internet_of_thing in internet_of_things %}
            <li class="list-inline-item text-center">
                <a href="{{ internet_of_thing.url }}" target="_blank" class=''>
                    {% if internet_of_thing.title|lower in icon_list %}
                    {% with "assets/image/icons/"|add:internet_of_thing.title|lower|add:".png" as file %}
                    <img src="{% static file %}"
                        alt="{{ internet_of_thing.title }}"
                        style="height:60px; width:60px;">
                    {% endwith %}
                    {% else %}
                    <i class="fas fa-star"></i>
                    {% endif %}
                </a>
                <h4>
                    {{ internet_of_thing.title }}
                </h4>
            </li>
            {% endfor %}
        </ul>

    </div>
</section>