<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
        <h2 class="mb-5">Education</h2>
        {% for academic_qualification in academic_qualifications %}

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">
                    {{ academic_qualification.institute }}
                </h3>
                <div class="subheading mb-3">
                    {{ academic_qualification.title }}
                </div>
                <div>
                    {{ academic_qualification.major }}
                </div>
                <p>
                    {{ academic_qualification.achievement }}
                </p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">
                    {{ academic_qualification.duration }}
                </span>
            </div>
        </div>

        {% endfor %}
    </div>
</section>