<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
    <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        {% for employement_history in employement_histories %}

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">
                    {{ employement_history.work_position }}
                </h3>
                <div class="subheading mb-3">
                    {{ employement_history.organization }}
                </div>
                <p>
                    {{ employement_history.responsibility|safe|linebreaks }}
                </p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">
                    {% if not employement_history.from_date == None %}
                    {{ employement_history.from_date|date:"d F, Y" }}
                    {% endif %}
                     - 
                    {% if not employement_history.to_date == None %}
                    {{ employement_history.to_date|date:"d F, Y" }}
                    {% endif %}

                    {% if employement_history.currently_working == True %}
                    Present
                    {% endif %}
                </span>
            </div>
        </div>

        {% endfor %}
    </div>

</section>