{% load static %}

<section class="p-3 p-lg-5 d-flex align-items-center" id="interests">
    <div class="w-100">
        <h3 class="mb-5">Preferred Area</h3>
        {% for work_area in work_areas %}
        {% if forloop.first %}
        <h4>
            {{ work_area.work_area }}
        </h4>
        <p class="mb-0">
            <h5>
                {{ work_area.preffered_technical_work_area }}

                {% if work_area.preffered_technical_work_area|lower|cut:' ' == 'python(django)' %}
                <img src="{% static 'assets/image/icons/python.png' %}"
                    alt="{{ work_area.preffered_technical_work_area }}"
                    style="height:60px; width:60px;">
                <img src="{% static 'assets/image/icons/django.png' %}"
                    alt="{{ work_area.preffered_technical_work_area }}" 
                    style="height:60px; width:60px;">
                {% else %}
                <i class="fas fa-star"></i>
                {% endif %}
            </h5>
        </p>
        {% endif %}
        {% endfor %}
    </div>
</section>