{% load static %}

<section class="p-3 p-lg-5 d-flex align-items-center" id="projects">
    <div class="w-100">
        <h2 class="mb-5">Projects</h2>

        <div class="row">
        {% for project in projects %}
         
             <div class="col-md-4 mb-2">
                 <div class="thumbnail">

                    {% if project.project_attachments.all.count >= 1 %}

                    {% for attachment in project.project_attachments.all %}
                    {% if forloop.last %}
                    <img src="{{ attachment.file.url }}" alt="{{ attachment.project.title }}" style="width:100%">
                    {% endif %}
                    {% endfor %}

                    {% else %}
                    <img src="{% static 'assets/image/icons/html.png' %}" alt="{{ project.title }}"
                        style="width:100%; height:137px;">
                    {% endif %}

                    <div class="caption text-center m-2">
                        <h4 class="text-transform-none">
                            {{ project.title }}
                        </h4>
                        <h6 class="text-muted">
                            {{ project.technology }}
                        </h6>
                        <span class="font-italic">
                            {% if project.status == 0 %}
                            <span class="text-success">Active</span>
                            {% else %}
                            <span class="text-danger">Inactive</span>
                            {% endif %}
                        </span>
                    </div>
                    {% if project.status == 0 %}
                    <div class="text-center">
                        <a href="{{ project.link }}" target="_blank" class="btn btn-primary btn-sm">
                            View Project
                        </a>
                    </div>
                    {% endif %}
                 </div>
             </div>

         {% endfor %}
         </div>

    </div>
</section>