{% load static %}

<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
    <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">
            Programming Languages
        </div>
        <ul class="list-inline dev-icons">
            {% for technical_skill in technical_skills %}
            {% if technical_skill.skill_category == 'Programming Language' %}
            <li class="list-inline-item text-center">
                {% if technical_skill.skill_name|lower == 'python' %}
                <!-- <i class="fab fa-python"></i> -->
                <img src="{% static 'assets/image/icons/python.png' %}" alt="python"
                    style="height:60px; width:60px;">
                {% elif technical_skill.skill_name|lower == 'javascript' %}
                <!-- <i class="fab fa-js-square"></i> -->
                <img src="{% static 'assets/image/icons/javascript.png' %}" alt="javascript"
                    style="height:60px; width:60px;">
                {% elif technical_skill.skill_name|lower == 'php' %}
                <!-- <i class="fab fa-php"></i> -->
                <img src="{% static 'assets/image/icons/php.png' %}" alt="php"
                    style="height:60px; width:60px;">
                {% elif technical_skill.skill_name|lower == 'c#' %}
                <!-- <i class="fas fa-file-code"></i> -->
                <img src="{% static 'assets/image/icons/c#.png' %}" alt="c#"
                    style="height:60px; width:60px;">
                {% else %}
                <i class="fas fa-file-code"></i>
                {% endif %}
                <h4>
                    {{ technical_skill.skill_name }}
                </h4>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" 
                        aria-valuenow="{{ technical_skill.skill_level }}"
                        aria-valuemin="0"
                        aria-valuemax="10" 
                        style="width:{{ technical_skill.skill_level }}0%">
                        <!-- <span class="sr-only">70% Complete</span> -->
                    </div>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>


        <div class="subheading mb-3">
            Frameworks
        </div>
        <ul class="list-inline dev-icons">
            {% for technical_skill in technical_skills %}
            {% if technical_skill.skill_category == 'Framework' %}
            <li class="list-inline-item text-center">
                {% if technical_skill.skill_name|lower == 'django' %}
                <!-- <i class="fas fa-file-code"></i> -->
                <img src="{% static 'assets/image/icons/django.png' %}" alt="django"
                    style="height:60px; width:60px;">
                {% elif technical_skill.skill_name|lower == 'jquery' %}
                <!-- <i class="fas fa-file-code"></i> -->
                <img src="{% static 'assets/image/icons/jquery.png' %}" alt="jquery" 
                    style="height:60px; width:60px;">
                {% elif technical_skill.skill_name|lower == 'quasar' %}
                <!-- <i class="fas fa-file-code"></i> -->
                <img src="{% static 'assets/image/icons/quasar.png' %}" alt="quasar" 
                    style="height:60px; width:60px;">
                {% elif technical_skill.skill_name|lower|cut:" " == 'vuejs' %}
                <!-- <i class="fas fa-file-code"></i> -->
                <img src="{% static 'assets/image/icons/vuejs.png' %}" alt="vuejs" 
                    style="height:60px; width:60px;">
                {% elif technical_skill.skill_name|lower|cut:" " == 'reactjs' %}
                <!-- <i class="fas fa-file-code"></i> -->
                <img src="{% static 'assets/image/icons/reactjs.png' %}" alt="reactjs" 
                    style="height:60px; width:60px;">
                {% elif technical_skill.skill_name|lower|cut:" " == 'laravel' %}
                <!-- <i class="fas fa-file-code"></i> -->
                <img src="{% static 'assets/image/icons/laravel.png' %}" alt="laravel" 
                    style="height:60px; width:60px;">
                {% elif technical_skill.skill_name|lower|cut:" " == 'asp.net' %}
                <!-- <i class="fas fa-file-code"></i> -->
                <img src="{% static 'assets/image/icons/asp.net.png' %}" alt="asp" 
                    style="height:60px; width:60px;">
                {% else %}
                <i class="fas fa-file-code"></i>
                {% endif %}
                <h4>
                    {{ technical_skill.skill_name }}
                </h4>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ technical_skill.skill_level }}"
                        aria-valuemin="0" aria-valuemax="10" style="width:{{ technical_skill.skill_level }}0%">
                        <!-- <span class="sr-only">70% Complete</span> -->
                    </div>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        
    </div>
</section>